BODY
{
    BACKGROUND-IMAGE: url(../images/back.gif);
    FONT-FAMILY: ו;
    FONT-SIZE: 9pt
}
TABLE
{
    FONT-SIZE: 9pt
}
INPUT
{
    FONT-SIZE: 9pt
}
TD
{
    FONT-SIZE: 9pt
}
A
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #3F8805;
    TEXT-DECORATION: underline
}
A.a1
{
    COLOR: #3F8805;
    TEXT-DECORATION: none
}
A.a1:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A.a2
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.a2:hover
{
    COLOR: #000000;
    TEXT-DECORATION: underline
}
A.a3
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.a3:hover
{
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
.input
{
	scrollbar-face-color:#5EC707;
	scrollbar-shadow-color:#eefee0;
	scrollbar-highlight-color:#eefee0;
	scrollbar-3dlight-color:#eefee0;
	scrollbar-darkshadow-color:#eefee0;
	scrollbar-track-color:#eefee0;
	scrollbar-arrow-color:#eefee0;
	BORDER: #111111 1px solid;
    FONT-SIZE: 9pt;
    BACKGROUND-color: #ffffff
}
.backs
{
    BACKGROUND-COLOR: #3F8805
}
.backts
{
    BACKGROUND-COLOR: #2C5C03
}
.backq
{
    BACKGROUND-COLOR: #EEFEE0
}
.backzq
{
    BACKGROUND-COLOR: #C8FC98
}
.backc
{
    BACKGROUND-IMAGE: url(../images/greenbutton.gif);
    BORDER: medium none;
    COLOR: #ffffff;
    HEIGHT: 16px;
    WIDTH: 50px
}
.backc2
{
    BACKGROUND-IMAGE: url(../images/arbutton.gif);
    BORDER: medium none;
    HEIGHT: 18px;
    WIDTH: 18px
}
.fonts
{
    COLOR: #3F8805
}
.zw
{
    FONT-SIZE: 14px
}
.p1
{
	text-indent: 25;
	line-height: 130%;
	margin-left: 30;
	margin-right: 25;
	margin-top: 10;
	margin-bottom: 5
}